<%- include ("../layouts/header")%>

<div class="col">
    <div class="container-fluid p-0" >
        <img src="/public/images/settings_icon.png" alt="settings" width="50" height="50" style="margin-left: 0">
        <h1 style="display: inline-block; vertical-align: middle;">Ustawienia kanału</h1>
        <hr style="border-color: black; margin-top: 4px;">

        <form action="/settings/changepassword" method="POST">
            <div >
                <label for="oldPassword">Wprowadź aktualne hasło:</label><br>
                <input type="text" name="oldPassword" id="oldPassword" style="width: 370px">
                <% if(!oldPassGood) {%>
                    <span style="color: red">Stare hasło jest złe !</span>
                <% } %>
            </div>
            <div >
                <label for="password">Wprowadź nowe hasło:</label><br>
                <input type="text" name="password" id="password" style="width: 370px">
                <% if(message === "notmatch") {%>
                <span style="color: red">Hasła do siebie nie pasują !</span>
                <% } %>
            </div>
            <div >
                <label for="confirmPassword">Potwierdź aktualne hasło:</label><br>
                <input type="text" name="confirmPassword" id="confirmPassword" style="width: 370px">
                <% if(message === "notmatch") {%>
                    <span style="color: red">Hasła do siebie nie pasują !</span>
                <% } %>
            </div>
            <button type="submit" class="playlist-bttn" style="padding: 10px 15px; border-radius: 30px; margin-top:20px;">
                <span style="display: inline-block; vertical-align: middle">Zmień hasło</span>
            </button>
        </form>
