        <!--</div>-->

        <footer class="py-5">
            <div class="container">
                <p class="m-0 text-center text-black">
                    Copyright &copy; Jutup <%= new Date().getFullYear() %>
                </p>
            </div>
        </footer>

        <script type="text/javascript" src="/public/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
