<html>
    <head>
        <title>Jutup</title>
        <link rel="stylesheet" type="text/css" href="/public/css/index.css">
        <link rel="stylesheet" type="text/css" href="/public/css/header.css">
        <link rel="stylesheet" type="text/css" href="/public/css/upload.css">
        <link rel="stylesheet" type="text/css" href="/public/css/videoPage.css">
        <link rel="stylesheet" type="text/css" href="/public/css/channel.css">
        <link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/blog-post.css">
        <link rel="stylesheet" type="text/css" href="/public/css/modern-business.css">
        <link rel=stylesheet" type="text/css" href="/public/css/simple-sidebar.css">
        <link rel="stylesheet" type="text/css" href="/public/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="border: 1px solid red; ">
        <div class="container-fluid ml-0 mr-0 p-0" >
            <!-- Logo -->
            <a class="navbar-brand mr-auto pl-0"  href="/">
                <img src="/public/images/logo.png" alt="Logo" width="170">
            </a>

            <!-- Search bar -->
            <form class="form-inline mx-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 450px">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <!-- Images on the right -->
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item">
                    <a class="nav-link" href="/help">
                        <img src="/public/images/info_button.png" alt="Help" width="50">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">
                        <img src="/public/images/add-or-plus-button-icon-in-black-and-white-color-vector.jpg" alt="Upload" width="50">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <% if(isLoggedIn){ %>
                            <img src="/public/images/Useravatar.png" alt="home" width="50" height="50">
                        <% } else{ %>
                            <img src="/public/images/channel_button_notloggedin.png" alt="home" width="50" height="50">
                        <% } %>
                    </a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container-fluid" style="border: 1px solid black; padding-top: 30px;">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-auto  bg-light " style="height: 100vh; width:200px; border: 1px solid black; padding: 0">
                <div class="d-flex flex-column justify-content-start position-fixed" style="height: 100%;">
                    <!-- Sidebar content -->
                    <a class="sidebar-a" href="/">
                        <div class="sidebar-div">
                            <img src="/public/images/home_icon.jpg" alt="home" width="24" height="24">
                            <b>Strona główna</b>
                        </div>
                    </a>
                    <% if(!isLoggedIn){ %>
                        <a class="sidebar-a" href="/login">
                            <div class="sidebar-div">
                                <img src="/public/images/channel_button_notloggedin.png" alt="home" width="24" height="24">
                                <b>Zaloguj się</b>
                            </div>
                        </a>
                        <a class="sidebar-a" href="/register">
                            <div class="sidebar-div">
                                <img src="/public/images/register_icon.png" alt="home" width="24" height="24">
                                <b>Zarejestruj się</b>
                            </div>
                        </a>
                    <% } else { %>
                        <a class="sidebar-a" style="margin-top:5px" href="/">
                            <div class="sidebar-div" style="border-bottom: none">
                                <img src="/public/images/playlist_bttn.png" alt="home" width="24" height="24">
                                <b>Twoje Playlisty</b>
                            </div>
                        </a>
                        <a class="sidebar-a" href="/">
                            <div class="sidebar-div" style="border-bottom: none">
                                <img src="/public/images/playlist_bttn.png" alt="home" width="24" height="24">
                                <b>Playlista 1</b>
                            </div>
                        </a>
                        <a class="sidebar-a" href="/">
                            <div class="sidebar-div" style="border-bottom: none">
                                <img src="/public/images/playlist_bttn.png" alt="home" width="24" height="24">
                                <b>Playlista 2</b>
                            </div>
                        </a>
                        <a class="sidebar-a" href="/">
                            <div class="sidebar-div">
                                <img src="/public/images/playlist_bttn.png" alt="home" width="24" height="24">
                                <b>Playlista 3</b>
                            </div>
                        </a>
                        <h5 style="margin-left:8px; margin-top:10px">Subskrybcje</h5>
                        <div class="row sidebar-sub" style="margin-left: 8px">
                            <img src="/public/images/Useravatar.png" alt="avatar" width="40" height="40">
                            <b>Kanał 1</b>
                        </div>
                        <div class="row sidebar-sub" style="margin-left: 8px">
                            <img src="/public/images/Useravatar.png" alt="avatar" width="40" height="40">
                            <b>Kanał 2</b>
                        </div>
                        <div class="row sidebar-sub" style="margin-left: 8px">
                            <img src="/public/images/Useravatar.png" alt="avatar" width="40" height="40">
                            <b>Kanał 3</b>
                        </div>
                        <div class="row sidebar-sub" style="margin-left: 8px">
                            <img src="/public/images/Useravatar.png" alt="avatar" width="40" height="40">
                            <b>Kanał 4</b>
                        </div>
                    <% } %>
                </div>
            </div>
