<%- include ("layouts/header")%>

<div class="col">
    <div class="container-fluid p-0" >
        <img src="/public/images/help_header.png" alt="settings" width="50" height="50" style="margin-left: 0">
        <h1 style="display: inline-block; vertical-align: middle;">Pomoc</h1>
        <hr style="border-color: black; margin-top: 4px;">

        <a href="/help/mainpage" style="color: blue;">
            <h5 style=" margin-left: 2px; margin-bottom: 20px">Strona główna</h5>
        </a>

        <a href="/" style="color: blue;">
            <h5 style=" margin-left: 2px; margin-bottom: 20px">Udostępnianie filmów</h5>
        </a>

        <a href="/" style="color: blue;">
            <h5 style=" margin-left: 2px; margin-bottom: 20px">Usuwanie filmów</h5>
        </a>



<%- include ("layouts/footer")%>
