<%- include ("layouts/header")%>

<div class="col" style="border: 1px solid black;">
    <div class="container-fluid p-0" >
        <div class="channel-banner" style="display: flex; align-items: center;">
            <h1 style="margin-left: 16px; font-size: 60px">Moje playlisty</h1>
        </div>

<%- include ("layouts/footer")%>
