<%- include ("layouts/header")%>


<div class="col" style="padding-left:0">
    <div class="container-fluid p-0">
        <img src="/public/images/play_black.png" alt="arrow" height="50" width="50" style="display: inline-block;">
        <h1 style="margin-left: 8px; display: inline-block; vertical-align: middle">Przesyłanie filmu</h1>
        <hr class="upper-solid-hr" >

        <form action="/upload" method="POST" enctype="multipart/form-data" class=movie-form>
            <div class="row d-flex justify-content-between justify-content-end">
                <div class="col-lg-auto mt-auto" style="margin-left: 30px; ">
                    <div class="form-group">
                        <label for="title">Tytuł</label><br>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Opis</label><br>
                        <textarea id="description" name="description" rows="4" required></textarea>
                    </div>
                    <div style="margin-bottom: 35px">
                        <label for="category">Kategoria</label><br>
                        <select id="category" name="category" class="categ-select" required>
                            <option value="natura">Natura</option>
                            <option value="muzyka">Muzyka</option>
                            <option value="gry">Gry</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-auto mr-lg-auto" style="margin-left: 40px; ">
                    <div class="form-group">
                        <label for="video">Film</label><br>
                        <input type="file" id="video" name="video" accept="video/mp4" style="margin-left: 0" required>
                        <span id="videoAlert" style="display: none; color: red;">Niedozwolony format pliku. Dostępny format to .mp4</span>
                    </div>
                    <div class="form-group">
                        <label for="thumbnail">Miniatura</label><br>
                        <img id="imgThumbnail" width="320" height="160" style="display: none; margin-left: 0" alt="miniatura">
                        <input type="file" id="thumbnail" name="thumbnail" accept="image/png, image/jpg"  required>
                        <span id="thumbAlert" style="display: none; color: red;">Niedozwolony format pliku. Dostępne formaty to .png i .jpg</span>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit">Opublikuj</button>
            </div>
        </form>

        <script>
            const imgInput = document.getElementById("thumbnail");
            const videoInput = document.getElementById("video");

            function showThumbnail(file) {
                const image = document.getElementById("imgThumbnail");
                image.src = URL.createObjectURL(file);
                image.style.display = "block";
            }


            function fileValidation(inputId, alertId, acceptedTypes, acceptedTypesLong) {
                const input = document.getElementById(inputId);
                const file = input.files[0];

                const nameExtension = file.name.split('.').pop();

                if (!acceptedTypes.includes(nameExtension) || !acceptedTypesLong.includes(file.type) ) {
                    // This will remove the file from the input
                    input.value = null;
                    const alert = document.getElementById(alertId);
                    alert.style.display = "block";

                } else {
                    if(inputId === "thumbnail") showThumbnail(file);
                    const alert = document.getElementById(alertId);
                    alert.style.display = "none";
                }


            }

            imgInput.addEventListener( "change", () => fileValidation(imgInput.id, "thumbAlert", ['png', 'jpg', 'jpeg'], ['image/png', 'image/jpg', 'image/jpeg']) );
            videoInput.addEventListener( "change", () => fileValidation(videoInput.id, "videoAlert", ['mp4'], ['video/mp4']) );

        </script>


<%- include ("layouts/footer")%>
