.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    width: 400px;
    height: 40px;
    border: 2px solid black;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li{
    display: inline-block;
    padding-left: 10px;
}

.top-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    margin-top: 10px;
    display: flex;
    border: 1px solid black;
    background-color: white;
    z-index: 1000;
}

.top-navbar .logo {
    padding-left: 4px;
}

.right-ul {
    display: flex;
    list-style: none;
}

.right-ul li {
    margin-left: 10px;
}

.topnav-spacer {
    width: 347px;
}

.topnav-sp35 {
    width: 35px;
}

.settings-h5 {
    color: blue;
    cursor: pointer;
    width: max-content;
}

/*.settings-h5.h5:hover {
    cursor: pointer;
}*/

.channel-menu {
    visibility: hidden;
    z-index: 3000;
    position: absolute;
    right: 2%;
    top: 8%;
    border-radius: 5px;
    background-color: #d3d1ca;
    height: max-content;
    width: max-content;
    font-size: 20px;
    padding: 10px;
}


.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
