<%- include ("../layouts/header")%>

<div class="col">
    <div class="container-fluid p-0" >
        <img src="/public/images/help_header.png" alt="settings" width="50" height="50" style="margin-left: 0">
        <h1 style="display: inline-block; vertical-align: middle;">Pomoc - Strona główna</h1>
        <hr style="border-color: black; margin-top: 4px;">

        <div><img src="/public/images/helpArticles/mainPage.png" alt="strona główna" width="1100" height="400"></div> <br>

        <span><strong>Na stronie głównej można wyróżnić następujące elementy:</strong></span> <br>

        (1) Trzy najpopularniejsze filmy z ostatnich kilku godzin<br>

        (2) Najpopularniejsze filmy z ostatnich godzin, które "nie dostały się" do top3<br>

        (3) Boczny panel nawigacji z linkami do strony głownej, logowania i rejestracji<br>

        (4) Górny panel nawigacji z linkami do artykułów pomocy "i", dodawania filmu "+" i rozwijanym menu profilu "ikona profilu"<br>



        <%- include ("../layouts/footer")%>
