<div class="col-lg-auto mt-auto" style="margin-left: 40px; ">
                       <a href="/video">
                        <img src="/public/images/sunset-1373171_1280.jpg" alt="thirdbestvideo" width="320" height="160" style="border-radius: 12px">
                        <div class="row" style="margin-top: 8px; margin-left: 0">
                            <img src="/public/images/Useravatar.png" alt="useravatar" width="45" height="45">
                            <div style="float: left">
                                <b>Nazwa filmu 3</b> <br>
                                Nazwa kanału
                            </div>
                            <div style="margin-left: 37px">
                                <span class="fa fa-star checked fa-lg"></span>
                                <span class="fa fa-star checked fa-lg"></span>
                                <span class="fa fa-star checked fa-lg"></span>
                                <span class="fa fa-star checked fa-lg"></span>
                                <span class="fa fa-star fa-lg"></span>
                            </div>
                        </div>
                       </a>
                    </div>
