

<div class="row pl-2" style="margin-bottom: 20px;">
    <a href="/settings/moviedetails">
        <img src="/public/images/sunset-1373171_1280.jpg" alt="thirdbestvideo" width="170" height="90" style="display: inline-block">
    </a>

        <span style="display: inline-block; vertical-align: top; margin-left: 8px; font-weight: bold;"><a href="/settings/moviedetails">Tytuł filmu</a></span>


    <div class="row ml-auto mr-0" style="align-items: center;">
        <div style="text-align: right; width: 121px;">
            <span class="ml-auto">10.05.2024</span>
        </div>
        <div style="text-align: right;width: 122px;">
            <span class="ml-auto">123</span>
        </div>
        <div style="text-align: right; width: 115px;">
            <span class="ml-auto">123</span>
        </div>
        <div style="text-align: right; width: 122px;">
            4.5
        </div>
    </div>
</div>
