<div class="mt-auto">
    <a href="/playlist">
        <img src="/public/images/sunset-1373171_1280.jpg" alt="thirdbestvideo" width="320" height="160" style="border-radius: 12px">
        <div>
            <b>Tytuł playlisty</b>
        </div>
    </a>
</div>
